<div class="container">
  <div class="row">
    <h4 class="col-md-3 bg-light text-center">会員一覧</h4>
  </div>

  <div class="row">
    <div class="col-8 mx-auto">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
        <tr class="border-bottom">
          <th class="align-middle"><%= customer.id %></th>
          <th class="align-middle">
            <%= link_to "#{customer.last_name}#{customer.first_name}", admins_customer_path(customer) %>
          </th>
          <th class="align-middle"><%= customer.email %></th>
          <% if customer.is_deleted %>
            <th class="align-middle">退会</th>
          <% else %>
            <th class="align-middle text-success">有効</th>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>