<div class="container">
  <div class="row">
    <h4 class="col-md-3 bg-secondary text-center">ジャンル一覧・追加</h4>
  </div>
  
  
    
    <%= form_with model:@category, local:true do |f| %>
      <div class="form-group">
        <%= f.label :name, "ジャンル名" %>
        <%= f.text_field :name, autofocus:true %>
      </div>
    <% end %>

</div>
